.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1964106138-0.jpeg")}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; margin: 393px 391px 60px 289px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {width: auto; margin-top: 336px; margin-right: 291px; margin-left: 182px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {margin-top: 244px; margin-right: 181px; margin-left: 142px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 192px; margin-right: 91px; margin-left: 80px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 441px}
.u-section-1 .u-text-1 {margin-top: 266px; margin-left: 0; margin-right: 0} }.u-section-2 {background-image: linear-gradient(#87c9cb, white)}
.u-section-2 .u-sheet-1 {min-height: 76px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 25px 481px 25px 502px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 402px; margin-right: 381px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 292px; margin-right: 271px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-left: 202px; margin-right: 181px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-left: 102px; margin-right: 81px} }.u-section-3 {background-image: url("images/Untitleddesign2.png"); background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 861px}
.u-section-3 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 79px auto 0}
.u-section-3 .u-shape-1 {width: 637px; height: 543px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); margin: 51px auto 0 250px}
.u-section-3 .u-form-1 {height: 488px; margin: -515px 328px 60px 325px}
.u-section-3 .u-form-group-1 {margin-top: 0; margin-bottom: 15px}
.u-section-3 .u-input-1 {letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-2 {margin: 0 0 15px}
.u-section-3 .u-input-2 {background-image: none; letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-3 {margin: 0 0 15px}
.u-section-3 .u-input-3 {background-image: none; letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-4 {margin-top: 0; margin-bottom: 15px}
.u-section-3 .u-input-4 {letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-5 {margin-left: 0; margin-right: 0}
.u-section-3 .u-input-5 {background-image: none; letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-6 {margin: 0 0 15px}
.u-section-3 .u-input-6 {background-image: none; letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-form-group-7 {margin: 0 0 15px}
.u-section-3 .u-input-7 {background-image: none; letter-spacing: 1px; font-weight: 400}
.u-section-3 .u-btn-1 {background-image: none; border-style: solid} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 657px}
.u-section-3 .u-text-1 {width: auto; margin-top: 71px}
.u-section-3 .u-shape-1 {margin-top: 32px; margin-left: 152px}
.u-section-3 .u-form-1 {width: 544px; margin-left: auto; margin-right: auto}
.u-section-3 .u-form-group-8 {text-align: center} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 744px}
.u-section-3 .u-text-1 {margin-top: 52px; margin-left: 44px; margin-right: 44px}
.u-section-3 .u-shape-1 {margin-left: auto}
.u-section-3 .u-form-1 {margin-bottom: 80px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 699px}
.u-section-3 .u-text-1 {margin-top: 73px; margin-left: auto; margin-right: auto; font-size: 2.25}
.u-section-3 .u-shape-1 {margin-top: 43px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-form-1 {width: 500px; margin-bottom: 28px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 738px}
.u-section-3 .u-form-1 {width: 320px} }.u-section-4 {background-image: url("images/Untitleddesign2.png"); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 687px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 104px auto 0}
.u-section-4 .u-layout-wrap-1 {margin: 69px auto 50px 0}
.u-section-4 .u-layout-cell-1 {min-height: 399px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-1 {width: 240px; height: 240px; background-image: url("images/2.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-4 .u-text-2 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-4 .u-text-3 {font-weight: 700; margin: 12px auto 0}
.u-section-4 .u-layout-cell-2 {min-height: 399px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-2 {width: 240px; height: 240px; background-image: url("images/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-4 .u-text-4 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-4 .u-text-5 {font-weight: 700; margin: 12px auto 0}
.u-section-4 .u-layout-cell-3 {min-height: 399px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-image-3 {width: 240px; height: 240px; background-image: url("images/3.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-4 .u-text-6 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-4 .u-text-7 {font-weight: 700; margin: 12px auto 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 671px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 329px}
.u-section-4 .u-layout-cell-2 {min-height: 329px}
.u-section-4 .u-layout-cell-3 {min-height: 329px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 320px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-image-1 {width: 180px; height: 180px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-2 {width: 180px; height: 180px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-image-3 {width: 180px; height: 180px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 420px}
.u-section-4 .u-text-1 {font-size: 2.25}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-2 {font-size: 1.5}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {animation-duration: 1000ms}
.u-section-4 .u-text-4 {font-size: 1.5}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-text-6 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1138px} }.u-section-5 {background-image: url("images/Untitleddesign2.png"); background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 972px}
.u-section-5 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 94px auto 0}
.u-section-5 .u-layout-wrap-1 {margin: 60px auto 0 0}
.u-section-5 .u-image-1 {min-height: 345px; background-image: url("images/Untitled6.jpg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-1 {padding: 20px}
.u-section-5 .u-layout-cell-2 {min-height: 345px}
.u-section-5 .u-image-2 {width: 495px; height: 255px; margin-top: 60px; margin-left: 0; margin-right: auto}
.u-section-5 .u-layout-cell-3 {min-height: 343px}
.u-section-5 .u-container-layout-3 {padding: 0}
.u-section-5 .u-image-3 {width: 495px; height: 253px; margin: 0 0 0 auto}
.u-section-5 .u-image-4 {min-height: 343px; background-image: url("images/xa.jpg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-4 {padding: 20px}
.u-section-5 .u-group-1 {min-height: 311px; width: 342px; box-shadow: 0 0 8px 0 rgba(128,128,128,1); height: auto; margin: -499px auto 60px}
.u-section-5 .u-container-layout-5 {padding: 20px 30px}
.u-section-5 .u-text-2 {margin: 0}
.u-section-5 .u-text-3 {font-style: italic; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 887px}
.u-section-5 .u-text-1 {margin-top: 92px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 284px}
.u-section-5 .u-layout-cell-2 {min-height: 284px}
.u-section-5 .u-image-2 {width: 455px; height: 234px; position: relative}
.u-section-5 .u-layout-cell-3 {min-height: 283px}
.u-section-5 .u-image-3 {width: 455px; height: 233px}
.u-section-5 .u-image-4 {min-height: 283px}
.u-section-5 .u-group-1 {min-height: 267px; margin-top: -402px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 851px}
.u-section-5 .u-text-1 {margin-top: 150px}
.u-section-5 .u-image-1 {min-height: 301px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-image-2 {width: 345px; height: 178px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-image-3 {width: 345px; height: 176px}
.u-section-5 .u-image-4 {min-height: 244px}
.u-section-5 .u-group-1 {min-height: 264px; margin-top: -362px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 1480px}
.u-section-5 .u-text-1 {margin-top: 35px; font-size: 2.25}
.u-section-5 .u-image-1 {min-height: 452px; order: 1}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {order: 0}
.u-section-5 .u-layout-cell-3 {order: 1}
.u-section-5 .u-image-4 {min-height: 366px; order: 0}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-group-1 {min-height: 259px; margin-top: -689px}
.u-section-5 .u-container-layout-5 {padding-top: 30px; padding-bottom: 30px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 1148px}
.u-section-5 .u-layout-wrap-1 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-5 .u-image-1 {min-height: 302px}
.u-section-5 .u-layout-cell-2 {min-height: 281px}
.u-section-5 .u-image-2 {width: 340px; height: 175px}
.u-section-5 .u-layout-cell-3 {min-height: 216px}
.u-section-5 .u-image-3 {width: 340px; height: 174px}
.u-section-5 .u-image-4 {min-height: 244px}
.u-section-5 .u-group-1 {min-height: 248px; width: 291px; margin-top: -533px} }