.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1964106138-0.jpeg")}
.u-section-1 .u-sheet-1 {min-height: 800px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 4.5rem; margin: 393px 391px 60px 289px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {width: auto; margin-top: 336px; margin-right: 291px; margin-left: 182px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px}
.u-section-1 .u-text-1 {margin-top: 244px; margin-right: 181px; margin-left: 142px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {font-size: 3.75rem; margin-top: 192px; margin-right: 91px; margin-left: 80px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 441px}
.u-section-1 .u-text-1 {margin-top: 266px; margin-left: 0; margin-right: 0} }.u-section-2 {background-image: linear-gradient(#87c9cb, white)}
.u-section-2 .u-sheet-1 {min-height: 76px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 25px 481px 25px 502px} 

@media (max-width: 1199px){ .u-section-2 .u-text-1 {margin-left: 402px; margin-right: 381px} }

@media (max-width: 991px){ .u-section-2 .u-text-1 {margin-left: 292px; margin-right: 271px} }

@media (max-width: 767px){ .u-section-2 .u-text-1 {margin-left: 202px; margin-right: 181px} }

@media (max-width: 575px){ .u-section-2 .u-text-1 {margin-left: 102px; margin-right: 81px} }.u-section-3 .u-sheet-1 {min-height: 657px}
.u-section-3 .u-layout-wrap-1 {margin: 49px auto 49px 0}
.u-section-3 .u-layout-cell-1 {min-height: 559px}
.u-section-3 .u-container-layout-1 {padding-left: 85px; padding-top: 20px; padding-bottom: 20px}
.u-section-3 .u-text-1 {font-size: 2.25rem; font-weight: 700; margin: 20px 0 0}
.u-section-3 .u-text-2 {margin: 49px 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 559px}
.u-section-3 .u-image-1 {width: 511px; height: 444px; margin: 0 auto 0 20px}
.u-section-3 .u-image-2 {width: 372px; height: 311px; margin: -180px auto -16px 248px} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 70px}
.u-section-3 .u-text-2 {width: 330px; margin-right: 70px}
.u-section-3 .u-image-1 {width: 421px; margin-left: 0}
.u-section-3 .u-image-2 {width: 307px; margin-left: 198px} }

@media (max-width: 991px){ .u-section-3 .u-container-layout-1 {padding-left: 30px}
.u-section-3 .u-text-2 {width: 253px; margin-right: 54px}
.u-section-3 .u-image-1 {width: 323px; left: 0; top: 207px; position: absolute}
.u-section-3 .u-image-2 {width: 220px; height: 220px; margin-top: 479px; margin-bottom: -11px; margin-left: 167px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1016px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 10px}
.u-section-3 .u-text-1 {font-size: 2.25}
.u-section-3 .u-text-2 {width: auto; margin-right: 49px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-image-1 {width: 400px; left: 10px; top: 42px}
.u-section-3 .u-image-2 {height: 311px; object-position: 50% 26.47%; background-position: 50% 26.47%; width: 318px; margin: 336px 0 0 auto} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 359px}
.u-section-3 .u-text-2 {margin-right: 25px}
.u-section-3 .u-layout-cell-2 {min-height: 559px}
.u-section-3 .u-image-1 {width: 315px}
.u-section-3 .u-image-2 {width: 223px; margin-right: auto; margin-left: 142px} }.u-section-4 .u-sheet-1 {min-height: 186px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 60px auto} 

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 159px}
.u-section-4 .u-text-1 {margin-top: 73px; margin-bottom: 46px; font-size: 2.25} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 121px} }.u-section-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/198896267-0.jpeg"); background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 457px}
.u-section-5 .u-layout-wrap-1 {margin: 125px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 102px}
.u-section-5 .u-icon-1 {height: 49px; width: 49px; background-image: none; margin: 27px auto 0 47px}
.u-section-5 .u-text-1 {font-weight: 700; margin: -37px 3px 0 -1px}
.u-section-5 .u-layout-cell-2 {min-height: 102px}
.u-section-5 .u-icon-2 {height: 49px; width: 49px; background-image: none; margin: 27px auto 0 47px}
.u-section-5 .u-text-2 {font-weight: 700; margin: -37px -1px 0 3px}
.u-section-5 .u-layout-cell-3 {min-height: 115px}
.u-section-5 .u-icon-3 {height: 49px; width: 49px; background-image: none; margin: 28px auto 0 47px}
.u-section-5 .u-text-3 {font-weight: 700; margin: -37px -1px 0 3px}
.u-section-5 .u-layout-cell-4 {min-height: 102px}
.u-section-5 .u-icon-4 {height: 49px; width: 49px; background-image: none; margin: 25px auto 0 47px}
.u-section-5 .u-text-4 {font-weight: 700; margin: -41px 0 0}
.u-section-5 .u-layout-cell-5 {min-height: 102px}
.u-section-5 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-icon-5 {height: 49px; width: 49px; background-image: none; margin: 25px auto 0 17px}
.u-section-5 .u-text-5 {font-weight: 700; margin: -40px 0 0}
.u-section-5 .u-layout-cell-6 {min-height: 102px}
.u-section-5 .u-icon-6 {height: 49px; width: 49px; background-image: none; margin: 20px auto 0 47px}
.u-section-5 .u-text-6 {font-weight: 700; margin: -36px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 448px}
.u-section-5 .u-layout-wrap-1 {margin-top: 95px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 134px}
.u-section-5 .u-icon-1 {margin-top: 0}
.u-section-5 .u-text-1 {margin-left: 0; margin-right: 0; margin-bottom: 13px}
.u-section-5 .u-layout-cell-2 {min-height: 134px}
.u-section-5 .u-icon-2 {margin-top: 37px; margin-left: 44px}
.u-section-5 .u-text-2 {width: auto; margin-right: -11px; margin-left: 11px}
.u-section-5 .u-layout-cell-3 {min-height: 134px}
.u-section-5 .u-icon-3 {margin-top: 37px}
.u-section-5 .u-text-3 {width: auto; margin-right: -11px; margin-left: 11px}
.u-section-5 .u-layout-cell-4 {min-height: 134px}
.u-section-5 .u-icon-4 {margin-top: 37px}
.u-section-5 .u-text-4 {width: auto; margin-top: -36px; margin-right: -11px; margin-left: 11px}
.u-section-5 .u-layout-cell-5 {min-height: 134px}
.u-section-5 .u-icon-5 {margin-top: 37px}
.u-section-5 .u-text-5 {margin-top: -36px; margin-right: -15px; margin-left: -15px}
.u-section-5 .u-layout-cell-6 {min-height: 134px}
.u-section-5 .u-icon-6 {margin-top: 37px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 645px}
.u-section-5 .u-layout-wrap-1 {margin-top: 60px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 201px}
.u-section-5 .u-icon-1 {margin-top: 70px; margin-left: 32px}
.u-section-5 .u-text-1 {width: auto; margin-right: -25px; margin-bottom: 0; margin-left: 25px}
.u-section-5 .u-layout-cell-2 {min-height: 202px}
.u-section-5 .u-icon-2 {margin-top: 71px; margin-left: 32px}
.u-section-5 .u-text-2 {margin-right: -32px; margin-left: 32px}
.u-section-5 .u-layout-cell-3 {min-height: 202px}
.u-section-5 .u-icon-3 {margin-top: 71px; margin-left: 32px}
.u-section-5 .u-text-3 {margin-right: -32px; margin-left: 32px}
.u-section-5 .u-layout-cell-4 {min-height: 202px}
.u-section-5 .u-icon-4 {margin-top: 71px; margin-left: 32px}
.u-section-5 .u-text-4 {margin-right: -32px; margin-left: 32px}
.u-section-5 .u-layout-cell-5 {min-height: 202px}
.u-section-5 .u-icon-5 {margin-top: 71px; margin-left: 2px}
.u-section-5 .u-text-5 {width: auto; margin-right: -31px; margin-left: 1px}
.u-section-5 .u-layout-cell-6 {min-height: 201px}
.u-section-5 .u-icon-6 {margin-top: 71px; margin-left: 32px}
.u-section-5 .u-text-6 {width: auto; margin-right: -14px; margin-left: 14px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 795px}
.u-section-5 .u-layout-cell-1 {min-height: 118px}
.u-section-5 .u-icon-1 {margin-top: 29px; margin-left: 145px}
.u-section-5 .u-text-1 {margin-right: 0; margin-left: 0}
.u-section-5 .u-layout-cell-2 {min-height: 119px}
.u-section-5 .u-icon-2 {margin-top: 29px; margin-left: 145px}
.u-section-5 .u-text-2 {margin-right: 0; margin-left: 0}
.u-section-5 .u-layout-cell-3 {min-height: 118px}
.u-section-5 .u-icon-3 {margin-top: 29px; margin-left: 145px}
.u-section-5 .u-text-3 {margin-right: 0; margin-left: 0}
.u-section-5 .u-layout-cell-4 {min-height: 100px}
.u-section-5 .u-icon-4 {margin-top: 20px; margin-left: 145px}
.u-section-5 .u-text-4 {margin-right: 0; margin-left: 0}
.u-section-5 .u-layout-cell-5 {min-height: 100px}
.u-section-5 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-icon-5 {margin-top: 17px; margin-left: 138px}
.u-section-5 .u-text-5 {margin-top: -34px; margin-right: -15px; margin-left: -15px}
.u-section-5 .u-layout-cell-6 {min-height: 100px}
.u-section-5 .u-icon-6 {margin-top: 20px; margin-left: 148px}
.u-section-5 .u-text-6 {margin-right: 0; margin-left: 0} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 710px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-icon-1 {margin-top: 20px; margin-left: 49px}
.u-section-5 .u-text-1 {margin-top: -27px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-icon-2 {margin-top: 22px; margin-left: 49px}
.u-section-5 .u-text-2 {margin-top: -39px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-icon-3 {margin-top: 20px; margin-left: 49px}
.u-section-5 .u-icon-4 {margin-top: 22px; margin-left: 49px}
.u-section-5 .u-text-4 {margin-top: -39px}
.u-section-5 .u-icon-5 {margin-top: 22px; margin-left: 39px}
.u-section-5 .u-text-5 {margin-top: -36px; margin-right: 0; margin-left: 0}
.u-section-5 .u-icon-6 {margin-left: 49px} }.u-section-6 .u-sheet-1 {min-height: 100vh}
.u-section-6 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 104px auto 0}
.u-section-6 .u-text-2 {font-style: italic; width: 529px; margin: 20px auto 0}
.u-section-6 .u-layout-wrap-1 {margin: 23px auto 56px 0}
.u-section-6 .u-layout-cell-1 {min-height: 547px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-image-1 {width: 240px; height: 240px; background-image: url("images/2.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-text-3 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-6 .u-text-4 {font-weight: 700; margin: 12px auto 0}
.u-section-6 .u-text-5 {font-style: italic; margin: 23px 0 0}
.u-section-6 .u-social-icons-1 {white-space: nowrap; height: 27px; min-height: 16px; width: 136px; min-width: 94px; margin: 20px auto -11px}
.u-section-6 .u-icon-1 {height: 100%}
.u-section-6 .u-icon-2 {height: 100%}
.u-section-6 .u-icon-3 {height: 100%}
.u-section-6 .u-icon-4 {height: 100%}
.u-section-6 .u-layout-cell-2 {min-height: 547px}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-image-2 {width: 240px; height: 240px; background-image: url("images/0b32e1fa-df03-3333-0282-3c4069b3e47d.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-text-6 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-6 .u-text-7 {font-weight: 700; margin: 12px auto 0}
.u-section-6 .u-text-8 {font-style: italic; margin: 23px 0 0}
.u-section-6 .u-social-icons-2 {white-space: nowrap; height: 27px; min-height: 16px; width: 136px; min-width: 94px; margin: 20px auto -11px}
.u-section-6 .u-icon-5 {height: 100%}
.u-section-6 .u-icon-6 {height: 100%}
.u-section-6 .u-icon-7 {height: 100%}
.u-section-6 .u-icon-8 {height: 100%}
.u-section-6 .u-layout-cell-3 {min-height: 547px}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-image-3 {width: 240px; height: 240px; background-image: url("images/3.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-6 .u-text-9 {text-transform: uppercase; font-size: 1.5rem; margin: 20px 0 0}
.u-section-6 .u-text-10 {font-weight: 700; margin: 12px auto 0}
.u-section-6 .u-text-11 {font-style: italic; margin: 23px 0 0}
.u-section-6 .u-social-icons-3 {white-space: nowrap; height: 27px; min-height: 16px; width: 136px; min-width: 94px; margin: 20px auto -11px}
.u-section-6 .u-icon-9 {height: 100%}
.u-section-6 .u-icon-10 {height: 100%}
.u-section-6 .u-icon-11 {height: 100%}
.u-section-6 .u-icon-12 {height: 100%} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 671px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-layout-cell-1 {min-height: 451px}
.u-section-6 .u-layout-cell-2 {min-height: 451px}
.u-section-6 .u-layout-cell-3 {min-height: 451px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 320px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-image-1 {width: 180px; height: 180px}
.u-section-6 .u-layout-cell-2 {min-height: 100px}
.u-section-6 .u-image-2 {width: 180px; height: 180px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-image-3 {width: 180px; height: 180px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 420px}
.u-section-6 .u-text-1 {font-size: 2.25}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-3 {font-size: 1.5}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {animation-duration: 1000ms}
.u-section-6 .u-text-6 {font-size: 1.5}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-9 {font-size: 1.5} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 1138px}
.u-section-6 .u-text-2 {width: 340px} }.u-section-7 .u-sheet-1 {min-height: 186px}
.u-section-7 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 60px auto} 

@media (max-width: 767px){ .u-section-7 .u-sheet-1 {min-height: 159px}
.u-section-7 .u-text-1 {margin-top: 73px; margin-bottom: 46px; font-size: 2.25} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 131px}
.u-section-7 .u-text-1 {margin-top: 46px} }.u-block-1b10-5 {position: absolute; width: 108px; height: 3px; top: auto; bottom: 45px}
.u-block-1b10-3 {position: absolute; left: 0}
.u-block-1b10-4 {position: absolute; right: 0}.u-section-8-1 .u-sheet-1 {min-height: 570px}
.u-section-8-1 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 0; position: relative; min-height: 400px}
.u-section-8-1 .u-layout-cell-1 {min-height: 133px}
.u-section-8-1 .u-container-layout-1 {padding: 30px}
.u-section-8-1 .u-text-1 {margin-top: 0; font-weight: 700; font-size: 3rem}
.u-section-8-1 .u-image-1 {min-height: 267px; background-image: url("images/2d9b333a34aeac8fc7db370c35b557c0.jpeg")}
.u-section-8-1 .u-container-layout-2 {padding: 30px}
.u-section-8-1 .u-image-2 {min-height: 267px; background-image: url("images/photo-1512505965932-0dbfa7e7b8c8.jpg")}
.u-section-8-1 .u-container-layout-3 {padding: 30px}
.u-section-8-1 .u-image-3 {min-height: 133px; background-image: url("images/af39537dc15a183750c34218f01c36e3.jpeg")}
.u-section-8-1 .u-container-layout-4 {padding: 30px}
.u-section-8-1 .u-image-4 {min-height: 133px; background-image: url("images/photo-1518709594023-6eab9bab7b23.jpg")}
.u-section-8-1 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-8-1 .u-sheet-1 {min-height: 513px}
.u-section-8-1 .u-layout-wrap-1 {min-height: 237px}
.u-section-8-1 .u-layout-cell-1 {min-height: 110px}
.u-section-8-1 .u-image-1 {min-height: 220px}
.u-section-8-1 .u-image-2 {min-height: 220px}
.u-section-8-1 .u-image-3 {min-height: 110px}
.u-section-8-1 .u-image-4 {min-height: 110px} }

@media (max-width: 991px){ .u-section-8-1 .u-sheet-1 {min-height: 1132px}
.u-section-8-1 .u-layout-wrap-1 {min-height: 579px}
.u-section-8-1 .u-layout-cell-1 {min-height: 100px}
.u-section-8-1 .u-image-1 {min-height: 337px}
.u-section-8-1 .u-image-2 {min-height: 337px}
.u-section-8-1 .u-image-3 {min-height: 169px}
.u-section-8-1 .u-image-4 {min-height: 169px} }

@media (max-width: 767px){ .u-section-8-1 .u-sheet-1 {min-height: 1293px}
.u-section-8-1 .u-layout-wrap-1 {min-height: 581px}
.u-section-8-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8-1 .u-text-1 {font-size: 2.25}
.u-section-8-1 .u-image-1 {min-height: 253px}
.u-section-8-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8-1 .u-image-2 {min-height: 253px}
.u-section-8-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8-1 .u-image-3 {min-height: 254px}
.u-section-8-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-8-1 .u-image-4 {min-height: 254px}
.u-section-8-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8-1 .u-sheet-1 {min-height: 858px}
.u-section-8-1 .u-layout-wrap-1 {margin-top: 1px; min-height: 205px}
.u-section-8-1 .u-image-1 {min-height: 159px}
.u-section-8-1 .u-image-2 {min-height: 159px}
.u-section-8-1 .u-image-3 {min-height: 160px}
.u-section-8-1 .u-image-4 {min-height: 160px} }.u-section-8-2 .u-sheet-1 {min-height: 570px}
.u-section-8-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; position: relative; min-height: 400px}
.u-section-8-2 .u-layout-cell-1 {min-height: 133px}
.u-section-8-2 .u-container-layout-1 {padding: 30px}
.u-section-8-2 .u-text-1 {margin-top: 0; font-weight: 700; font-size: 3rem}
.u-section-8-2 .u-image-1 {min-height: 267px; background-image: url("images/2d9b333a34aeac8fc7db370c35b557c0.jpeg")}
.u-section-8-2 .u-container-layout-2 {padding: 30px}
.u-section-8-2 .u-image-2 {min-height: 267px; background-image: url("images/photo-1512505965932-0dbfa7e7b8c8.jpg")}
.u-section-8-2 .u-container-layout-3 {padding: 30px}
.u-section-8-2 .u-image-3 {min-height: 133px; background-image: url("images/af39537dc15a183750c34218f01c36e3.jpeg")}
.u-section-8-2 .u-container-layout-4 {padding: 30px}
.u-section-8-2 .u-image-4 {min-height: 133px; background-image: url("images/photo-1518709594023-6eab9bab7b23.jpg")}
.u-section-8-2 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-8-2 .u-sheet-1 {min-height: 513px}
.u-section-8-2 .u-layout-wrap-1 {min-height: 237px}
.u-section-8-2 .u-layout-cell-1 {min-height: 110px}
.u-section-8-2 .u-image-1 {min-height: 220px}
.u-section-8-2 .u-image-2 {min-height: 220px}
.u-section-8-2 .u-image-3 {min-height: 110px}
.u-section-8-2 .u-image-4 {min-height: 110px} }

@media (max-width: 991px){ .u-section-8-2 .u-sheet-1 {min-height: 1132px}
.u-section-8-2 .u-layout-wrap-1 {min-height: 579px}
.u-section-8-2 .u-layout-cell-1 {min-height: 100px}
.u-section-8-2 .u-image-1 {min-height: 337px}
.u-section-8-2 .u-image-2 {min-height: 337px}
.u-section-8-2 .u-image-3 {min-height: 169px}
.u-section-8-2 .u-image-4 {min-height: 169px} }

@media (max-width: 767px){ .u-section-8-2 .u-sheet-1 {min-height: 1293px}
.u-section-8-2 .u-layout-wrap-1 {min-height: 581px}
.u-section-8-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8-2 .u-text-1 {font-size: 2.25}
.u-section-8-2 .u-image-1 {min-height: 253px}
.u-section-8-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8-2 .u-image-2 {min-height: 253px}
.u-section-8-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8-2 .u-image-3 {min-height: 254px}
.u-section-8-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-8-2 .u-image-4 {min-height: 254px}
.u-section-8-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8-2 .u-sheet-1 {min-height: 858px}
.u-section-8-2 .u-layout-wrap-1 {margin-top: 1px; min-height: 205px}
.u-section-8-2 .u-image-1 {min-height: 159px}
.u-section-8-2 .u-image-2 {min-height: 159px}
.u-section-8-2 .u-image-3 {min-height: 160px}
.u-section-8-2 .u-image-4 {min-height: 160px} }.u-section-8-3 .u-sheet-1 {min-height: 570px}
.u-section-8-3 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px; position: relative; min-height: 400px}
.u-section-8-3 .u-layout-cell-1 {min-height: 133px}
.u-section-8-3 .u-container-layout-1 {padding: 30px}
.u-section-8-3 .u-text-1 {margin-top: 0; font-weight: 700; font-size: 3rem}
.u-section-8-3 .u-image-1 {min-height: 267px; background-image: url("images/2d9b333a34aeac8fc7db370c35b557c0.jpeg")}
.u-section-8-3 .u-container-layout-2 {padding: 30px}
.u-section-8-3 .u-image-2 {min-height: 267px; background-image: url("images/photo-1512505965932-0dbfa7e7b8c8.jpg")}
.u-section-8-3 .u-container-layout-3 {padding: 30px}
.u-section-8-3 .u-image-3 {min-height: 133px; background-image: url("images/af39537dc15a183750c34218f01c36e3.jpeg")}
.u-section-8-3 .u-container-layout-4 {padding: 30px}
.u-section-8-3 .u-image-4 {min-height: 133px; background-image: url("images/photo-1518709594023-6eab9bab7b23.jpg")}
.u-section-8-3 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-8-3 .u-sheet-1 {min-height: 513px}
.u-section-8-3 .u-layout-wrap-1 {min-height: 237px}
.u-section-8-3 .u-layout-cell-1 {min-height: 110px}
.u-section-8-3 .u-image-1 {min-height: 220px}
.u-section-8-3 .u-image-2 {min-height: 220px}
.u-section-8-3 .u-image-3 {min-height: 110px}
.u-section-8-3 .u-image-4 {min-height: 110px} }

@media (max-width: 991px){ .u-section-8-3 .u-sheet-1 {min-height: 1132px}
.u-section-8-3 .u-layout-wrap-1 {min-height: 579px}
.u-section-8-3 .u-layout-cell-1 {min-height: 100px}
.u-section-8-3 .u-image-1 {min-height: 337px}
.u-section-8-3 .u-image-2 {min-height: 337px}
.u-section-8-3 .u-image-3 {min-height: 169px}
.u-section-8-3 .u-image-4 {min-height: 169px} }

@media (max-width: 767px){ .u-section-8-3 .u-sheet-1 {min-height: 1293px}
.u-section-8-3 .u-layout-wrap-1 {min-height: 581px}
.u-section-8-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-8-3 .u-text-1 {font-size: 2.25}
.u-section-8-3 .u-image-1 {min-height: 253px}
.u-section-8-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-8-3 .u-image-2 {min-height: 253px}
.u-section-8-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-8-3 .u-image-3 {min-height: 254px}
.u-section-8-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-8-3 .u-image-4 {min-height: 254px}
.u-section-8-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8-3 .u-sheet-1 {min-height: 858px}
.u-section-8-3 .u-layout-wrap-1 {margin-top: 10px; min-height: 205px}
.u-section-8-3 .u-image-1 {min-height: 159px}
.u-section-8-3 .u-image-2 {min-height: 159px}
.u-section-8-3 .u-image-3 {min-height: 160px}
.u-section-8-3 .u-image-4 {min-height: 160px} }